In [1]:
# Dependencies

# Statistics modules
import numpy as np
import pandas as pd

# JSON requests module
import requests

In [2]:
# urls of detailed & subject tables with example (not used)
url = 'https://api.census.gov/data/2016/acs/acs5/subject?get=NAME,S1902_C01_001E,S2409_C05_006E&for=zip%20code%20tabulation%20area:*'
urlg = 'https://api.census.gov/data/2017/acs/acs5?get=NAME,group(B01001)&for=us:1'

#url fixed variables
urlbeg = 'https://api.census.gov/data/'

urlmid = '/acs/acs5/subject?get=NAME,'
urlmidd = '/acs/acs5?get=NAME,'

urlend = '&for=zip%20code%20tabulation%20area:*'

# reports, while independently stored in list by name
#, are a single string within the call, notice the reports & reports names are in inverse order

reportsf = 'S1902_C01_001E,S2409_C05_006E,S1251_C01_001E,S2301_C01_001E,S1701_C01_001E'
reportsd = 'B01003_001E,B19013_001E,B19301_001E,B25075_001E'
reportnames = ['PopInPoverty','PopEmployed','MarriedPastYr','PercentFemaleEmployed','EstMeanIncAll']
reportnamesd = ['PropVal', 'Per Capita Income','Household Income','Population']



# The looped variable in the calls are the years
years = ['2014', '2015', '2016', '2017']

# Intialize empty lists to store call urls and json requests of reports by running a for loop appending each url in a string.

urlsf = [(urlbeg + year + urlmid + reportsf + urlend) for year in years]
urlsd = [(urlbeg + year + urlmidd + reportsd + urlend) for year in years]

 
# Reports Data variables import as a collection of reports elements per json url, where
# an independent list is a particular zip code's report metric

reports1 = [requests.get(url).json() for url in urlsf]
reports2 = [requests.get(url).json() for url in urlsd]
# Each url in urls corresponds to a year where each element is a zip, and each expression a metric of that report's metric
# for that zip
#
# Knowing this, we use the element of the year/url and loop through the range of those elements essentially creating a unique
# range of indexes grouped by (year, zip) expressed as that report metrics

    
df_full1 = pd.DataFrame()
for i, year in enumerate(years):
    df_one = pd.DataFrame([[g[6], g[5], g[4],g[3], g[2], g[1]] for g in reports1[i][1:]], columns = ['zip'] + reportnames)
    df_one['year'] = years[i]
    df_full1 = df_full1.append(df_one, ignore_index=True).reset_index(drop=True)

    
df_full2 = pd.DataFrame()
for i, year in enumerate(years):
    df_two = pd.DataFrame([[g[5], g[4], g[3], g[2], g[1]] for g in reports2[i][1:]], columns = ['zip'] + reportnamesd)
    df_two['year'] = years[i]
    df_full2 = df_full2.append(df_two, ignore_index=True).reset_index(drop=True)

In [3]:
df_full1.head()

,zip,PopInPoverty,PopEmployed,MarriedPastYr,PercentFemaleEmployed,EstMeanIncAll,year
0,03450,901,786,None,-666666666,450,2014
1,03451,4026,3363,None,51250,1804,2014
2,03452,5312,4500,None,-666666666,2246,2014
3,03455,1864,1569,None,-666666666,851,2014
4,03456,753,596,None,-666666666,298,2014

In [4]:
df_full2.head()

     zip PropVal Per Capita Income Household Income Population  year
0  00601    3307              7229            10833      18088  2014
1  00602   10143              9048            16353      40859  2014
2  00603   11384              9888            16323      53162  2014
3  00606    1334              6385            14138       6415  2014
4  00610    7165              8197            17265      28805  2014

In [6]:
# Given that the sports data was type casted, perform same type castings for data merging & munging.

df_full1['zip'] = df_full1['zip'].astype('str')
df_full1['PopInPoverty'] = df_full1['PopInPoverty'].astype('int')
df_full1['PopEmployed'] = df_full1['PopEmployed'].astype('int')
df_full1['MarriedPastYr'] = df_full1['MarriedPastYr'].astype('str')
df_full1['EstMeanIncAll'] = df_full1['EstMeanIncAll'].astype('int')
df_full1['PercentFemaleEmployed'] = df_full1['PercentFemaleEmployed'].astype(float)


df_full2['zip'] = df_full2['zip'].astype('str')
df_full2['Per Capita Income'] = df_full2['Per Capita Income'].astype('str')
df_full2['Household Income'] = df_full2['Household Income'].astype('str')
df_full2['Population'] = df_full2['Population'].astype('int')
df_full2['PropVal'] = df_full2['Population'].astype('int')